AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
REDIS_URL=redis://redis:6379
DEFAULT_RESERVATION_TTL_SECONDS=300
RESERVATIONS_TABLE=flash-sale-reservations-local
RESERVATION_EVENTS_QUEUE_URL=http://localstack:4566/000000000000/dev-reservation-events
PURCHASE_EVENTS_QUEUE_URL=http://localstack:4566/000000000000/dev-purchase-events
EXPIRY_EVENTS_QUEUE_URL=http://localstack:4566/000000000000/dev-expiry-events
DEFAULT_TTL_PARAMETER_NAME=/flash-sale/config/default-reservation-ttl-seconds
STRESS_BASE_URL=http://localhost:3000